include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/biodigiknow *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/biodigiknow/migration *.ini *.py *.mako
recursive-include ckanext/biodigiknow/public *.*
